@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

.options {
        @include dimensions(100px, 80px);
        padding: 10px;
        display: grid;
        gap: 4px;
}

.grid {
    padding: 10px;
}