@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
  
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

.backgroundItems {
    padding-top: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: 50px 50px;

    .backgroundItem {
        @include dimensions(50px, 50px);
        border-radius: 15px;
        overflow: hidden;
    }
}

.holder {
    position: relative;

    img {
        @include dimensions(50px, 50px);
        @include position(relative, 0, 0, 0, 50%);
        transform: translate(-50%);
        object-fit: cover;
        transition: 300ms;
    }

    img:hover {
        @include dimensions(60px, 60px);
    }
}