@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
  
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

.pictures {
    padding: 5px;
    display: grid;
    gap: 7px;

    .picture {
        @include dimensions(95px, 95px);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
    }
}

.holder {
    position: relative;

    img {
        @include dimensions(100px, 100px);
        @include position(relative, 0, 0, 0, 50%);
        transform: translate(-50%);
        object-fit: cover;
        transition: 300ms;
    }

    img:hover {
        @include dimensions(120px, 120px);
    }
}