$amethystColor: #715678;
$lightAmethystColor: #c1b0c8;
$lightGrayColor: #c2c6c5;

@mixin border($color, $radius) {
    border: $color solid 1px;
    border-radius: $radius;
}
  
@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
  
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

.pictures {
    // @include dimensions(80px, 80px);
    padding: 10px;
    display: grid;
    gap: 10px;

    .picture {
        @include dimensions(80px, 80px);
        border-radius: 15px;
        overflow: hidden;
    }
}

.holder {
    position: relative;

    img {
        @include dimensions(80px, 80px);
        @include position(relative, 0, 0, 0, 50%);
        transform: translate(-50%);
        object-fit: cover;
        transition: 300ms;
    }

    img:hover {
        @include dimensions(100px, 100px);
    }
}

.closeModal {
    @include position(absolute, 0, 0, null, null);
    @include dimensions(24px, 24px);
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    
    &:hover {
        opacity: 1;
    }
}
    
.closeModal::before,
.closeModal::after {
    content: '';
    @include position(absolute, 10px, null, null, null);
    @include dimensions(24px, 3px);
    display: block;
    background: white;
}
    
.closeModal::before {
    transform: rotate(45deg);
}
    
.closeModal::after {
    transform: rotate(-45deg);
}

.block {
    // @include position(absolute, null, 0, 0, 0);
    @include dimensions(80px, 25px);

    // background:rgba(255,255,255, 0.7);
    // padding-top: 15px;
    // padding-bottom: 30px;

    input {
        opacity: 0;
        // position: relative;
        z-index: -1;
        // overflow: hidden;
    
        @include dimensions(0.1px, 0.1px);
    }

    label {
        // position: relative;
        // left: 110px;  

          
        font-size: 13px;
        padding: 5px 10px;
    
        justify-content: center;
        align-items: center;
    
        background-color: $amethystColor;
        color: white;
    
        @include border($lightGrayColor, 10px);
    
        cursor: pointer;
        user-select: none;
    }
}