$amethystColor: #715678;
$lightAmethystColor: #c1b0c8;
$lightGrayColor: #c2c6c5;

@mixin border($color, $radius) {
    border: $color solid 1px;
    border-radius: $radius;
}
  
@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
  
@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

.options {
    .circles {
        @include dimensions(100px, 80px);
        padding: 10px;

        button {
            @include dimensions(100px, 25px);
        }

        .color {
            @include dimensions(100px, 27px);
        }

        .quantity {
            @include dimensions(92px, 20px);
        }
    }
    
}
