@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin possitionLeft($position, $left) {
  position: $position;
  left: $left;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin border($color, $radius) {
  border: $color solid 1px;
  border-radius: $radius;
}

.App {
  display: grid;

  position: fixed;

  @include dimensions(100%, 100%);

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

  background-color: #85728a;

  input {
    @include dimensions(97px, 20px);
  }
  .color {
    @include dimensions(105px, 27px);
}

  button {
    @include dimensions(105px, 25px);
    border: none;
    background: #5adc50;
  }
  button:hover {
    background: #38cb2d; 
  }
  .button_on { 
    background: #F7941E; 
  }
  .button_on:hover { 
    background: #f48706; 
  }
  .button_off { 
    background: #8a8a8a;
  }
  .button_off:hover { 
    background: #797979; 
  }
}

::-webkit-scrollbar {
  width: 5px;
}  

.header {
  @include dimensions(90%, null);
  @include possitionLeft(relative, 10px);
  padding-top: 15px;
  border-bottom: rgb(194, 198, 197) solid 1px;
}

.navbar {
  position: fixed;
  padding: 5px;
  z-index: 1;
  background-color: #f4f4f4;
  @include dimensions(75px, 100%);

  img {
    @include dimensions(60px, 60px);
    @include possitionLeft(relative, 50%);
    top: 10px;
    transform: translate(-50%)

  }
}

.menu {
  @include dimensions(125px, 100%);
  @include possitionLeft(fixed, 85px);

  z-index: 2;
  background-color: #d5d5d5;
  overflow-y: auto;
}

.map {
  @include possitionLeft(fixed, 55%);
  top: 50%;
  transform: translate(-55%, -50%);
}

// .items {
//   padding-top: 5px;
//   display: grid;
//   gap: 5px;
//   grid-template-columns: 50px 50px;

//   .item {
//       @include dimensions(50px, 50px);
//       overflow: hidden;
//       @include border(black, 15px);
//       cursor: pointer;
//   }
//   .item:hover {
//       border-color: green;
//   }
//   .item_active {
//       @include border(red, 15px);
//   }
//   .item_active:hover {
//     border-color: red;

//   }
// }

// .holder {
//   position: relative;

//   img {
//       @include dimensions(50px, 50px);
//       @include position(relative, 0, 0, 0, 50%);
//       transform: translate(-50%);
//       object-fit: cover;
//   }
// }

// .closeModal {
//   @include position(absolute, 0, 0, null, null);
//   @include dimensions(24px, 24px);
//   opacity: 0.2;
//   cursor: pointer;
//   transition: opacity ease 0.5s;
  
//   &:hover {
//       opacity: 1;
//   }
// }
  
// .closeModal::before,
// .closeModal::after {
//   content: '';
//   @include position(absolute, 10px, null, null, null);
//   @include dimensions(24px, 3px);
//   display: block;
//   background: white;
// }
  
// .closeModal::before {
//   transform: rotate(45deg);
// }
  
// .closeModal::after {
//   transform: rotate(-45deg);
// }