@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin possitionLeft($position, $left) {
  position: $position;
  left: $left;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin border($color, $radius) {
  border: $color solid 1px;
  border-radius: $radius;
}

.App {
  display: grid;

  position: fixed;

  @include dimensions(100%, 100%);

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

  background-color: #85728a;

  button {
    @include dimensions(100px, 25px);
  }
}

::-webkit-scrollbar {
  width: 5px;
}  

.header {
  @include dimensions(90%, null);
  @include possitionLeft(relative, 10px);
  padding-top: 15px;
  border-bottom: rgb(194, 198, 197) solid 1px;
}

.navbar {
  position: fixed;
  padding: 5px;
  z-index: 1;
  background-color: #f4f4f4;
  @include dimensions(75px, 100%);

  img {
    @include dimensions(60px, 60px);
    @include possitionLeft(relative, 50%);
    top: 10px;
    transform: translate(-50%)

  }
}

.menu {
  @include dimensions(125px, 100%);
  @include possitionLeft(fixed, 85px);

  z-index: 2;
  background-color: #d5d5d5;
  overflow-y: auto;
}

.map {
  @include possitionLeft(fixed, 55%);
  top: 50%;
  transform: translate(-55%, -50%);
}

.holder {
  position: relative;

  img {
      @include dimensions(80px, 80px);
      @include position(relative, 0, 0, 0, 50%);
      transform: translate(-50%);
      object-fit: cover;
      transition: 300ms;
  }

  img:hover {
      @include dimensions(100px, 100px);
  }
}

.closeModal {
  @include position(absolute, 0, 0, null, null);
  @include dimensions(24px, 24px);
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;
  
  &:hover {
      opacity: 1;
  }
}
  
.closeModal::before,
.closeModal::after {
  content: '';
  @include position(absolute, 10px, null, null, null);
  @include dimensions(24px, 3px);
  display: block;
  background: white;
}
  
.closeModal::before {
  transform: rotate(45deg);
}
  
.closeModal::after {
  transform: rotate(-45deg);
}

.block {
  @include dimensions(150px, 25px);

  input {
      opacity: 0;
      z-index: -1;
  
      @include dimensions(0.1px, 0.1px);
  }

  label {
      font-size: 13px;
      padding: 5px 20.5px;
  
      background-color: #f6f6f6;
      color: black;
  
      @include border(#868686, 0);
  
      user-select: none;
  }

  label:hover {
      background-color: #dfdfdf;
  }
}