@mixin possitionLeft($position, $left) {
  position: $position;
  left: $left;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

.App {
  display: grid;
  grid-template-areas: 
  'navbar list header'
  'navbar list content';
  grid-template-columns: 150px 100px;
  grid-template-rows: 7% 93%;

  position: fixed;

  @include dimensions(100%, 100%);

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 5px;
}  

.header {
  grid-area: header;
  @include dimensions(90%, null);
  @include possitionLeft(relative, 10px);
  padding-top: 15px;
  border-bottom: rgb(194, 198, 197) solid 1px;
}

.navbar {
  grid-area: navbar;
  position: fixed;
  background-color: #f4f4f4;
  @include dimensions(150px, 100%);
}

.menu {
  grid-area: list;
  @include dimensions(100px, 100%);
  background-color: #d5d5d5;
  overflow-y: auto;
  // scrollbar-width: 0.1;
}

.content {
  grid-area: content;
}